name: cocinagame
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  iconify_flutter: ^0.0.7
  http: ^1.2.2
  font_awesome_flutter: ^10.6.0
  phosphor_flutter: ^2.0.1
  ming_cute_icons: ^0.0.7
  solar_icons: ^0.0.5
  diacritic: ^0.1.3
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
